<h1>{{ 'CONFIRM_EMAIL'|trans }}</h1>

<p>
    {{ 'CONFIRM_EMAIL_DESC'|trans }}: <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'CONFIRM_EMAIL_LINK'|trans }}</a>.
    {{ 'CONFIRM_EMAIL_EXPIRE'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>{{ 'REGARDS'|trans }}</p>
<p class="lead">{{ 'REGARDS_TEAM'|trans }}</p>
