{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-heroes px-4 pt-5 text-center border-bottom"
         style="background-image: url('{{ asset('build/images/front-bg.webp') }}')">
        <h1 class="display-4 fw-bold text-body-emphasis">Wirtualny cmentarz w Rzezawie</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Za pomocą tej strony odnajdziesz położenie poszukiwanych grobów.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Szukaj grobu</button>
                <button type="button" class="btn btn-secondary btn-lg px-4">Mapy</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2 border-bottom">Narzędzia</h2>
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <img src="{{ asset('build/images/grave.svg') }}" alt="map"/>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Wyszukiwanie</h3>
                        <p>Wyszukiwanie grobów po imieniu i nazwisku oraz po dacie urodzin i śmierci.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="{{ asset('build/images/book.png') }}" alt="map"/>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Baza danych</h3>
                        <p>Baza danych grobów i osób pochowanych.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="{{ asset('build/images/map3.png') }}" alt="map"/>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Google maps</h3>
                        <p>Lokalizacja grobów poprzez aplikację GoogleMaps.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img src="{{ asset('build/images/map.png') }}" alt="map"/>
                    <div>
                        <h3 class="fw-bold mb-0 fs-4">Mapy</h3>
                        <p>Mapa strukturalna cmentarzy.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Cmentarze</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Nowy cmentarz</h3>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Stary cmentarz</h3>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Intencje mszalne</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
