<div class="card mt-4" data-controller="grave-detail">
    <div class="card-header" data-target-id="{{ grave.id }}">
        <span>{{ 'GRAVE_DETAILS'|trans }}</span>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4 class="card-title">{{ grave.graveyard.name }}</h4>
            {% if is_granted('ROLE_MANAGER') %}
                <div>
                    <button class="btn btn-success" onclick="location.href='{{ path('app_grave_add') }}'">{{ 'ADD_NEW'|trans }}</button>
                    <button class="btn btn-warning" onclick="location.href='{{ path('app_grave_edit', {'grave': grave.id}) }}'">{{ 'EDIT'|trans }}</button>
                    <button class="btn btn-danger" data-modal-box-open="data-remove-grave"
                            data-item-id="{{ grave.id }}" data-modal-box-prop="{{ grave.graveyard.name }}
                             - {{ 'SECTOR_SHORT'|trans }}: {{ grave.sector }}, {{ 'ROW_SHORT'|trans }}: {{ grave.row }}, {{ 'NUMBER_SHORT'|trans }}: {{ grave.number }}">
                        {{ 'REMOVE'|trans }}
                    </button>
                </div>
                {{ component('modal_box', {
                    'name': 'data-remove-grave',
                    'title': 'GRAVE_REMOVE'|trans,
                    'description': 'GRAVE_REMOVE_CONFIRM'|trans|raw,
                    'grave': grave,
                    'action': 'boolean_choice',
                    'target': path('app_grave_remove', {'id': grave.id}),
                    'submit': 'REMOVE'|trans
                }) }}
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-4 col-md-3 col-lg-2 text-center">
                {{ 'SECTOR'|trans }}: <h5 class="heading">{{ grave.sector }}</h5>
            </div>
            {% if grave.row %}
                <div class="col-4 col-md-3 col-lg-2 text-center">
                    {{ 'ROW'|trans }}: <h5 class="heading">{{ grave.row }}</h5>
                </div>
            {% endif %}
            <div class="col-4 col-md-3 col-lg-2 text-center">
                {{ 'NUMBER'|trans }}: <h5 class="heading">{{ grave.number }}</h5>
            </div>
        </div>
        <hr>
        {% if grave.people|length > 0 %}
            <h6>Osoby spoczywające w grobie:</h6>
            <hr class="mb-1">
            {% for person in grave.people %}
                <div class="row {% if is_granted('ROLE_MANAGER') %}mb-1{% endif %}">
                    <div class="col-md-4 col-lg-3 text-center text-md-start fw-bolder cursor-pointer text-decoration-underline"
                         onclick="location.href='{{ path('app_person', {'person': person.id}) }}'"
                         data-modal-box-prop>{{ person.surname }} {{ person.name }}</div>
                    <div class="col-md-3 col-lg-2 text-center text-lg-start">
                        <span class="material-symbols-rounded" style="font-size: 13px">brightness_empty</span>
                        {{ person.born|date('Y.m.d') }}
                    </div>
                    <div class="col-md-3 col-lg-2 text-center text-lg-start">
                        <b>+</b>
                        {{ person.death|date('Y.m.d') }}
                    </div>
                    {% if is_granted('ROLE_MANAGER') %}
                        <div class="col-md-2 text-center text-md-start">
                            <button class="btn btn-sm btn-danger" data-modal-box-open="data-remove-person"
                                    data-item-id="{{ person.id }}" data-modal-box-prop="{{ person.surname }} {{ person.name }}">
                                {{ 'DISCONNECT'|trans }}
                            </button>
                        </div>
                    {% endif %}
                </div>
                <hr class="my-1">
            {% endfor %}
            {{ component('modal_box', {
                'name': 'data-remove-person',
                'title': 'PERSON_REMOVE_GRAVE'|trans,
                'description': 'PERSON_REMOVE_GRAVE_CONFIRM'|trans,
                'grave': grave,
                'person': person,
                'action': 'boolean_choice_api',
                'submit': 'DISCONNECT'|trans
            }) }}
        {% else %}
            <div class="row">
                <div class="lead">{{ 'GRAVE_PERSON_NOT_ASSIGNED'|trans }}.</div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    {% if is_granted('ROLE_MANAGER') and grave is defined and form_add_person is defined %}
                        {{ component('modal_box', {
                            'name': 'data-add-new-person',
                            'title': 'ADD_NEW_PERSON'|trans,
                            'grave': grave,
                            'form': form_add_person,
                            'action': 'add_new_person',
                            'submit': 'ADD'|trans
                        }) }}
                        <button class="btn btn-outline-secondary" data-modal-box-open="data-add-new-person">{{ 'PERSON_ADD'|trans }}
                        </button>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') and grave is defined and people is defined %}
                        {{ component('modal_box', {
                            'name': 'data-select-person',
                            'title': 'SELECT_TO_ASSIGN'|trans,
                            'grave': grave,
                            'people': people,
                            'action': 'select_assigned_person',
                            'submit': 'ASSIGN'|trans
                        }) }}
                        <button class="btn btn-secondary" data-modal-box-open="data-select-person">{{ 'SELECT_TO_ASSIGN'|trans }}
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <hr>
        {% if grave.positionY != null and grave.positionX != null %}
            <div class="card p-1">
                <div class="lead px-3 pt-3">{{ 'POSITION'|trans }} GoogleMaps</div>
                <hr>
                <div>
                    <div style="width: 100%">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ grave.positionY }},%20{{ grave.positionX }}&amp;t=k&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
        <small>{{ 'ADDED'|trans }}: {{ grave.created|date('Y-m-d') }}</small>
        {% if grave.edited != null %}
            <small> || {{ 'EDITED'|trans }}: {{ grave.edited|date('Y-m-d') }}</small>
        {% endif %}
    </div>
</div>

