{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-5 mb-3">
        <div class="card">
            <div class="card-header">
                Informacje o zmarłym
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ person.surname }} {{ person.name }}</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <p class="card-text mb-1">Data urodzenia:</p>
                        <h5 class="heading">{{ person.born|date('Y.m.d') }}</h5>
                    </div>
                    <div class="col-lg-3">
                        <p class="card-text mb-1">Data śmierci:</p>
                        <h5 class="heading">{{ person.death|date('Y.m.d') }}</h5>
                    </div>
                </div>
                <hr>
                <small>Dodano: {{ person.added|date('Y-m-d') }}</small> ||
                <small>Edytowano: {{ person.edited|date('Y-m-d') }}</small>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Informacje na temat grobu
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ person.grave.graveyard.name }}</h4>
                <hr>
                <div class="row">
                    <div class="col-3 col-lg-2">
                        Sektor: <h5 class="heading">{{ person.grave.sector }}</h5>
                    </div>
                    <div class="col-3 col-lg-2">
                        Rząd: <h5 class="heading">{{ person.grave.row }}</h5>
                    </div>
                    <div class="col-3 col-lg-2">
                        Numer: <h5 class="heading">{{ person.grave.number }}</h5>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="lead px-3 py-1">Położenie na GoogleMaps</div>
                </div>
                <hr>
                <small>Dodano: {{ person.added|date('Y-m-d') }}</small> ||
                <small>Edytowano: {{ person.edited|date('Y-m-d') }}</small>
            </div>
        </div>
    </div>
{% endblock %}
