<div{{ attributes }} class="card mt-4" data-controller="grave-detail">
    <div class="card-header">
        <span>Szczegóły nagrobka</span>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ grave.graveyard.name }}</h4>
        <hr>
        <div class="row">
            <div class="col-3 col-lg-2">
                Sektor: <h5 class="heading">{{ grave.sector }}</h5>
            </div>
            {% if grave.row %}
                <div class="col-3 col-lg-2">
                    Rząd: <h5 class="heading">{{ grave.row }}</h5>
                </div>
            {% endif %}
            <div class="col-3 col-lg-2">
                Numer: <h5 class="heading">{{ grave.number }}</h5>
            </div>
        </div>
        <hr>
        {% if grave.people|length > 0 %}
            <h6>Osoby spoczywające w grobie:</h6>
            <hr>
            {% for one in grave.people %}
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-center text-md-start fw-bolder">{{ one.surname }} {{ one.name }}</div>
                    <div class="col-md-4 col-lg-3 text-center text-lg-start">
                        <span class="material-symbols-rounded" style="font-size: 13px">brightness_empty</span>
                        {{ one.born|date('Y.m.d') }}
                    </div>
                    <div class="col-md-4 col-lg-3 text-center text-lg-start">
                        <b>+</b>
                        {{ one.death|date('Y.m.d') }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="lead">Brak przypisanych osób spoczywających w grobie.</div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    {% if is_granted('ROLE_MANAGER') and grave is defined and form_add_person is defined %}
                        {{ component('modal_box', {
                            'name': 'data-add-new-person',
                            'title': 'Dodawanie nowej osoby',
                            'grave': grave,
                            'form': form_add_person
                        }) }}
                        <button class="btn btn-outline-secondary" data-modal-box-open="data-add-new-person">Dodaj nową osobę</button>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') and grave is defined and person is defined %}
                        {{ component('modal_box', {
                            'name': 'data-select-person',
                            'title': 'Wybierz do przypisania',
                            'grave': grave,
                            'person': person
                        }) }}
                        <button class="btn btn-secondary" data-modal-box-open="data-select-person">Wybierz nieprzypisaną osobę</button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <hr>
        {% if grave.positionY != null and grave.positionX != null %}
            <div class="card p-1">
                <div class="lead px-3 pt-3">Położenie na GoogleMaps</div>
                <hr>
                <div>
                    <div style="width: 100%">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ grave.positionY }},%20{{ grave.positionX }}&amp;t=k&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
        <small>Dodano: {{ grave.created|date('Y-m-d') }}</small>
        {% if grave.edited != null %}
            <small> || Edytowano: {{ grave.edited|date('Y-m-d') }}</small>
        {% endif %}
    </div>
</div>

