<div{{ attributes }}>
    <h3 class="text-uppercase">{{ 'GRAVE_SEARCH'|trans }}</h3><div class="lead">
    </div>
    <hr>
    <div class="form mt-3 overflow-hidden">
        {{ form_start(form, {
            'attr': {'class': 'search-form'}
        }) }}
        {% if form.alert is defined %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col">
                {{ form_label(form.graveyard) }}
                {{ form_widget(form.graveyard) }}
            </div>
            <div class="col">
                {{ form_label(form.sector) }}
                {{ form_widget(form.sector) }}
            </div>
            <div class="col">
                {{ form_label(form.row) }}
                {{ form_widget(form.row) }}
            </div>
            <div class="col">
                {{ form_label(form.number) }}
                {{ form_widget(form.number) }}
            </div>
        </div>

        <div class="mt-3 float-end float-xl-start">
            {% if last_uri is defined and last_uri != app.request.uri %}
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ last_uri }}'">{{ 'RETURN'|trans }}</button>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                <button type="button" class="btn btn-warning" onclick="location.href='{{ path('app_grave_not_assigned') }}'">{{ 'SHOW_NON_ASSIGNED'|trans }}</button>
            {% endif %}
            {{ form_widget(form.search,{
                'attr': {'class': 'btn btn-success'}}
            ) }}
        </div>
        {{ form_end(form) }}
    </div>
    <hr>
</div>
