<div{{ attributes }}>
    <div class="form add-form mt-3 overflow-hidden">
        {{ form_start(form) }}
        <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col">
                {{ form_label(form.graveyard, null, {
                    'label_attr': {'class': 'fw-bold'}
                }) }}
                {{ form_widget(form.graveyard) }}
            </div>
            <div class="col">
                {{ form_label(form.sector, null, {
                    'label_attr': {'class': 'fw-bold'}
                }) }}
                {{ form_widget(form.sector) }}
            </div>
            <div class="col">
                {{ form_label(form.row) }}
                {{ form_widget(form.row) }}
            </div>
            <div class="col">
                {{ form_label(form.number, null, {
                    'label_attr': {'class': 'fw-bold'}
                }) }}
                {{ form_widget(form.number) }}
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mt-2 g-2">
            <div class="col">
                {{ form_label(form.positionY, null, {
                    'label_attr': {'class': 'fw-bold'}
                }) }}
                {{ form_widget(form.positionY) }}
            </div>
            <div class="col">
                {{ form_label(form.positionX, null, {
                    'label_attr': {'class': 'fw-bold'}
                }) }}
                {{ form_widget(form.positionX) }}
            </div>
        </div>
        <div class="mt-4">
            {{ form_widget(form.submit,{
                'attr': {'class': 'btn btn-success'},
                'label': submit
            }) }}
            {% if last_uri is defined %}
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ last_uri }}'">{{ 'RETURN'|trans }}</button>
            {% endif %}
        </div>
        {{ form_end(form) }}
        <hr>
    </div>
</div>
