<div{{ attributes }} {{ name }} data-modal-box>
    <div class="modal-container">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header px-4 pt-3 pb-2 border-bottom-0">
                    <h4 class="fw-bold mb-0 me-4">{{ title }}</h4>
                    <button type="button" class="btn-close" data-modal-box-close></button>
                </div>
                <hr class="my-2">
                <div class="modal-body p-3 pt-0" style="max-height: 50vh; overflow: auto; pointer-events: auto;">
                    {% if form is defined %}
                        {{ component('person_add', {
                            'form': form
                        }) }}
                    {% endif %}
                    {% if person is defined and grave is defined %}
                        <table class="table table-striped table-hover" style="min-width: 600px; max-height: 100%">
                            <thead>
                            <tr class="text-center text-lg-start">
                                <th class="col-1 text-center">-</th>
                                <th class="col-3">Imię</th>
                                <th class="col-3">Nazwisko</th>
                                <th class="col-2 text-center">Data urodzenia</th>
                                <th class="col-2 text-center">Data<br>śmierci</th>
                            </tr>
                            </thead>
                            <tbody data-person-body data-target-id="{{ grave.id }}">
                                <tr class="text-center text-lg-start" role="button" data-person-row>
                                    <td class="col-1 text-center" data-person-checkbox></td>
                                    <td class="col-3" data-person-surname></td>
                                    <td class="col-3" data-person-name></td>
                                    <td class="col-2 text-center" data-person-born></td>
                                    <td class="col-2 text-center" data-person-death></td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <hr class="m-0 p-0">
                    <div class="py-2 px-3 d-flex justify-content-end gap-2">
                        <button class="btn btn-sm btn-danger float-end" data-modal-box-close>Anuluj</button>
                        <button class="btn btn-sm btn-success float-end" data-add-person-submit>Przypisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
