<div{{ attributes }} {{ name }} data-modal-box>
    <div class="modal-container">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header px-4 pt-3 pb-2 border-bottom-0">
                    <h4 class="fw-bold mb-0 me-4">{{ title }}</h4>
                    <button type="button" class="btn-close" data-modal-box-close></button>
                </div>
                <hr class="my-2">
                <div class="modal-body px-3 pb-3 py-0"
                     style="max-height: 50vh; overflow: auto; pointer-events: auto;">
                    {% if action == 'add_new_person' %}
                        {% if form is defined %}
                            {{ component('person_add', {
                                form: form,
                                close: true,
                                submit: 'Dodaj'
                            }) }}
                        {% endif %}
                    {% endif %}
                    {% if action == 'select_assigned_person' %}
                        {% if people is defined and grave is defined %}
                            {{ component('person_search_js', {
                                people: people,
                                grave: grave,
                                submit: 'Przypisz'
                            }) }}
                        {% endif %}
                    {% endif %}
                    {% if action == 'remove_assigned_person' %}
                        {% if person is defined and grave is defined %}
                            <div class="p-3">Czy potwierdzasz usunięcie przypisania osoby do grobu?</div>
                            <div class="px-3 fw-bold" data-remove-content></div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    {% if action == 'remove_assigned_person' %}
                        <button type="button"
                                class="border-top btn btn-link text-danger fs-6 text-decoration-none col-6 py-3 m-0 rounded-2 border-end"
                                data-action-submit>
                            <strong>Usuń</strong>
                        </button>
                        <button type="button" class="border-top btn btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-2" data-modal-box-close>Anuluj</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
