<div{{ attributes }} class="card" data-controller="person-detail">
    <div class="card-header">
        Informacje o zmarłym
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ person.surname }} {{ person.name }}</h4>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <p class="card-text mb-1">Data urodzenia:</p>
                <h5 class="heading">{{ person.born|date('Y.m.d') }}</h5>
            </div>
            <div class="col-lg-3">
                <p class="card-text mb-1">Data śmierci:</p>
                <h5 class="heading">{{ person.death|date('Y.m.d') }}</h5>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <small>Dodano: {{ person.created|date('Y-m-d') }}</small>
                {% if person.edited != null %}
                    <small> || Edytowano: {{ person.edited|date('Y-m-d') }}</small>
                {% endif %}
            </div>
            <div>
                <button class="btn btn-success float-end mx-1" onclick="location.href='{{ path("app_search") }}'">Wyszukiwanie</button>
                {% if is_granted('ROLE_MANAGER') %}
                    <button class="btn btn-outline-success float-end mx-1" onclick="location.href='{{ path("app_add_person", {'person': person.id}) }}'">Dodaj nową osobę</button>
                    <button class="btn btn-warning float-end mx-1" onclick="location.href='{{ path("app_person_edit", {'person': person.id}) }}'">Edycja</button>
                    <button class="btn btn-danger float-end mx-1" data-modal-box-open="data-remove-person-all"
                            data-item-id="{{ person.id }}" data-modal-box-prop="{{ person.surname }} {{ person.name }}">Usuń</button>
                            {{ component('modal_box', {
                                'name': 'data-remove-person-all',
                                'title': 'Usuwanie osoby',
                                'person': person,
                                'action': 'remove_person',
                                'submit': 'Usuń'
                            }) }}
                {% endif %}
                {% if last_uri is defined %}
                <button class="btn btn-secondary float-end mx-1" onclick="location.href='{{ last_uri }}'">Powrót</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
